<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <!-- Header -->
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div id="content"></div>

    <div class="row">
      <div class="col-sm-6 mb-3">
        <div class="card border-success">
          <div class="card-body">
            <h3 class="card-title">Response Info</h3>
            <b>Domain Type</b>
            <p id="domainTypeOutput">Open or Closed Sourced</p>
            <b>Data Representation Type</b>
            <p id="dataRepresentationOutput">Structured or Unstructured</p>
            <b>Algorithm</b>
            <p>e.g. Generative (Deep Learning)</p>
            <b>Bot Reply</b>
            <p id="botReplyOutput">Bot Reply</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <div class="card border-primary">
          <div id="moduleSelectionInfo" class="card-body">
            <h3 class="card-title">Module Selection Info</h3>
            <b>Module Name</b>
            <p id="selectedModuleOutput">Module Name</p>
            <b>Reason</b>
            <p id="selectionReasonOutput">Module is selected with X% of confidence</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h3 class="card-title">Conclusion</h3>
            <p>The conclusion is a remarkably well trained data set. You can now take the following action: Boo!</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="javascripts/d3_vis.js"></script>
  </div>

</body>
</html>
