<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <!-- Header -->
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div id="content"></div>

    <div class="row">
      <div class="col-sm-6 mb-3">
        <div class="card border-success">
          <div class="card-body">
            <h3 class="card-title">Response Info</h3>
            <b>User Question</b>
            <p id="userQuestionOutput">User Question</p>
            <b>Bot Reply</b>
            <p id="botReplyOutput">Bot Reply</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <div class="card border-primary">
          <div id="moduleSelectionInfo" class="card-body">
            <h3 class="card-title">Module Selection Info</h3>
            <b>Module Name</b>
            <p id="selectedModuleOutput">Module Name</p>
            <b>Reason</b>
            <p id="selectionReasonOutput">Module is selected with X% of confidence</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3" id="responses_summary">
      </div>
      <div class="col-sm-6 mb-3" id="confidences_summary">
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Timestamp</th>
              <th scope="col">Question</th>
              <th scope="col">Module Name</th>
              <th scope="col">Bot Reply</th>
              <th scope="col">Confidence</th>
            </tr>
          </thead>
          <tbody id="historicalDataTbody">
            <!-- <tr>
              <th scope="row">1</th>
              <td>Monday 1pm</td>
              <td>What is your name?</td>
              <td>Scripted Mod</td>
              <td>My name is John.</td>
              <td>76.5%</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Monday 1.10pm</td>
              <td>Why are you here today?</td>
              <td>Scripted Mod</td>
              <td>I have chest pain</td>
              <td>89.6%</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 mb-3">
      </div>
      <div class="col-sm-12 mb-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h3 class="card-title">Conclusion</h3>
            <p>The conclusion is a remarkably well trained data set. You can now take the following action: Boo!</p>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="javascripts/d3_vis.js"></script>
    <script src="javascripts/main.js"></script>
  </div>

</body>
</html>
