<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <!-- Header -->
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div id="content"></div>

    <div class="row">
      <div class="col-sm-6 mb-3">
        <div class="card border-success">
          <div class="card-body">
            <h3 class="card-title">Response Info</h3>
            <dl class="row">
              <dt class="col-md-5">Domain Type</dt>
              <dd class="col-md-7">Closed Sourced</dd>
              <dt class="col-md-5">Knowledge Type</dt>
              <dd class="col-md-7">Crowd Sourced</dd>
              <dt class="col-md-5">Data Representation Type</dt>
              <dd class="col-md-7">Posts (Help Forums)</dd>
              <dt class="col-md-5">Response Selection (Algorithm)</dt>
              <dd class="col-md-7">Generative (Deep Learning)</dd>
              <dt class="col-md-5">Final Output</dt>
              <dd id="finalOutput" class="col-md-7">Bee Blah Blue</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <div class="card border-primary">
          <div id="moduleSelectionInfo" class="card-body">
            <h3 class="card-title">Module Selection Info</h3>
            <dl class="row">
              <dt class="col-md-3">Domain Type</dt>
              <dd id="selectedModule" class="col-md-9">Closed Sourced</dd>
              <dt class="col-md-3">Reason</dt>
              <dd class="col-md-9">Module is selected with confidence of <span id="decisionConfidence"></span> </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h3 class="card-title">Conclusion</h3>
            <p>The conclusion is a remarkably well trained data set. You can now take the following action: Boo!</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="javascripts/d3_vis.js"></script>
  </div>

</body>
</html>
